<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 activity-input">
      <div>
        <mat-card class="mt-3">
          <form [formGroup]="todoForm">
            <mat-form-field appearance="outline">
              <mat-label>Informe a atividade</mat-label>
              <input
                matInput
                placeholder="..."
                formControlName="activity_name"
              />
              <mat-icon matSuffix>edit</mat-icon>
            </mat-form-field>
            <button
              mat-raised-button
              color="primary"
              [disabled]="todoForm.invalid"
              (click)="addTask()"
            >
              Adicionar
            </button>
          </form>
        </mat-card>
      </div>
    </div>
    <div class="col-md-9">
      <div cdkDropListGroup>
        <div class="row">
          <div class="col-md-4">
            <div class="example-container">
              <h2>Atividades</h2>

              <div
                cdkDropList
                [cdkDropListData]="tasks"
                class="example-list"
                (cdkDropListDropped)="drop($event)"
              >
                <div class="example-box" *ngFor="let item of tasks" cdkDrag>
                  {{ item.description }}
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="example-container">
              <h2>Em Andamento</h2>

              <div
                cdkDropList
                [cdkDropListData]="inProgress"
                class="example-list"
                (cdkDropListDropped)="drop($event)"
              >
                <div
                  class="example-box"
                  *ngFor="let item of inProgress"
                  cdkDrag
                >
                  {{ item.description }}
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="example-container">
              <h2>Concluído</h2>

              <div
                cdkDropList
                [cdkDropListData]="done"
                class="example-list"
                (cdkDropListDropped)="drop($event)"
              >
                <div class="example-box" *ngFor="let item of done" cdkDrag>
                  {{ item.description }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
